body{
font-family:Arial;
text-align:center;
background:#111;
color:white;
}

#carton{
display:grid;
grid-template-columns:repeat(5,60px);
gap:10px;
justify-content:center;
margin-top:20px;
}

.casilla{
width:60px;
height:60px;
background:white;
color:black;
display:flex;
justify-content:center;
align-items:center;
font-size:22px;
border-radius:10px;
}

.marcado{
background:gold;
box-shadow:0 0 20px yellow;
}
